* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-family: 'Kalam', 'Indie Flower', 'Concert One', 'Permanent Marker';

}

body {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 0;
  height: 100%;
}

ul {
  padding-inline-start: 0;
}

button,
input[type="text"],
textarea,
.password {
  padding: 5px;
  border-radius: 15px;
  height: 36px;
  background-color: transparent;
  font-size: 20px;
}

textarea {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  resize: none;
  height: 45px;
}

button {
  color: #fefefe;
  background: #333;
  border: #52B7BD solid 1px;
}

button:hover {
  cursor: pointer;
  background: #aaa;
  border: #fefefe solid 1px;
}

hr {
  height: 3px;
}

.add-btn,
.delete-btn {
  width: 75px;
}

.white {
  color: #fefefe;
  min-height: 100%;
  margin-bottom: 40px;
  background-image: url("img/chalk-board.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.app-inputs {
  width: 100%;
  border: none;
  outline: none;
}

.app-inputs:hover:focus {
  color: #fefefe;
}


.app-inputs:focus {
  color: #fefefe;
}

.login-input {
  color: #fefefe; 
}

.modal-input:focus {
  color: #555;
}

.modal-input:hover:focus {
  color: #555;
}

.submit-btn {
  margin-top: 10px;
  width: 50%;
}

.demo-btn {
  width: 100px;
  border: 1px solid #52B7BD;
  color: #52B7BD;
}

.register-btn {
  width: 100px;
  border: 1px solid #52B7BD;
  color: #52B7BD;
  padding: 5px;
  border-radius: 15px;
  height: 36px;
  background-color: transparent;
  font-size: 20px;
  text-decoration: none;
}

.delete-btn {
  width: 25%;
  background: #52B7BD;
}

.delete-btn:hover {
  background: #BE4A47;
  border: solid 1px #BE4A47;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #52B7BD;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  height: 47px;
}

#topBtn:hover {
  background-color: #555;
}

/* tabs */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgb(107, 106, 106);
  position: relative;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  width: 100%;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.white .active {
  background-color: #52B7BD;
  color: white;
}
.shopping .active {
  background-color: #555;
  color: white;
}

.logo {
  width: 100%;
  display: inline-block;
  height: 700px;
}




#logo {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#login-logo {
  width: 550px;
}

#about,
#how-to {
  height: 500px;
}

.about {
  float: left;
  background: #333;
  height: 100%;
  width: 30%;
  text-align: justify;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 15px;
  font-size: 30px;
}

.info {
  float: right;
  text-align: start;
  width: 70%;
  height: 100%;
  padding: 25px;
  font-size: 22px;
  border: solid 1px #aaa;
}

@media screen and (max-width: 880px) {

  .about,
  .info {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  #about,
  #how-to {
    height: 100%;
  }


  .recipeOptions {
    width: 25% !important;
    margin-bottom: 10px;
  }



}

@media screen and (max-width: 460px) {
  .recipeOptions {
    width: 40% !important;
    margin: 10px;
  }

  .modal-content {
    width: 60% !important;
  }
}

.danger {
  color: #BE4A47;
  font-size: 20px;
}

.begin {
  width: 75%;
  text-align: left;
  margin-left: 30px;

}

.end {
  display: inline-block;
  width: 500px;
}

/* Login form */
.login-form {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.tealWord {
  color: #52B7BD;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #fefefe;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  color: #555;
}

.modal-content label {
  font-size: 20px;
}

label {
  font-size: 20px;
}


.modal-btn {
  border: 1px solid #52B7BD;
  background: #52B7BD;
}

.modal-btn:hover {
  background: #333;
  border: 1px solid #52B7BD;
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.new-user {
  color: #52B7BD;
}

/* Recipes */
.recipe {
  border: 1px solid #555;
  box-shadow: 5px 10px 10px #555;
  margin-top: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.recipes-form {
  display: inline-block;
  align-content: center;
  text-align: center;
  width: 50%;
  margin-top: 40px;
}

.recipe-form h2 {
  color: #555;
}

.recipe-name {
  text-decoration: underline;
  font-size: 30px;
}

.recipe-ingredients,
.recipe-instructions {
  list-style-type: none;
  display: block;
  font-style: italic;
  align-content: center;
  font-size: 15px;
  padding: 10px;
  margin: 15px;
}

.recipe-controls {
  margin-bottom: 10px;
}

.recipes-results {
  color: #555;
  font-size: 20px;

}

.recipes-results h3,
h4 {
  color: #555;
}

/* Recipe Book */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 0px;
  height: 120px;
  font-family: 'Kalam', 'Indie Flower', 'Concert One', 'Permanent Marker';
  font-size: 30px;
  text-decoration: underline;
}

/* .accordion img {
  width: 50%;
  height: 500px;
  border: 1px solid #fefefe;
} */


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #555;
  border: solid 2px #555;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fefefe;

}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: transparent;
  display: none;
  overflow: hidden;
}

/* Meals */

.meal-btn {
  margin-left: 5px;
}

.meal-btn:hover {
  background: #BE4A47;
  border: solid 1px #BE4A47;
}

.meals {
  width: 100%;
  font-size: 20px;
}

.js-meal-name {
  text-decoration: underline;
}

.recipeOptions {
  color: #333;
  width: 20%;
  height: 30px;
  border-radius: 15px;
  font-size: 15px;
}

/* Shopping-List */

.shopping {
  color: #555;
  min-height: 100%;
  margin-bottom: 40px;
  background-color: #FFFFCC;

}

.shopping-submit-btn {
  width: 40px;
}

.shopping-submit-btn:hover {
  width: 40px;
  background-color: #52B7BD;
}

.shopping-btn {
  width: 40px;
}
.shopping-btn:hover {
  width: 40px;
  background-color: #BE4A47;
}

.shopping-list-form {
  display: inline-block;
  align-content: center;
  text-align: center;
  width: 50%;  
  margin-top: 40px;
}

.shopping-form {
  padding-left: 40px;
}

.shopping-list {
  text-align: left;
  margin-top: 20px;
  align-items: flex-end;
}

.shopping-inputs{
    padding: 10px;
    width: 85%;
    border: none;
    outline: none;
    background-color: #FFFFCC;
    border-radius: 0px;
    font-size: 20px;
  
}

.shopping-list p {
  display: block;
}



.shopping-list>li {
  border-radius: 5px;
  color: #555;
  list-style-type: none;
  text-decoration: underline;
  display: flex;
}

.shopping-item {
  display: block;
  font-style: italic;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 40px;
}

.strikethrough:checked + .shopping-item {
  text-decoration:line-through
}
.strikethrough {
  width: 20px;
  height: 20px;
}



@media screen and (max-width: 600px) {
  .delete-btn {
    width: 50%;
    font-size: 12px;
  }

  .recipe-ingredients,
  .recipe-instructions {
    font-size: 12px;
  }
}

footer a {
  color: #52B7BD;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  height: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
.shopping-list-form {
  width: 90%;
  }
}
@media screen and (max-width: 500px) {
.shopping-inputs {
  width: 65%;
  }
}

@media screen and (max-width: 1100px) {
  #login-logo {
    height: 10%;
    width: 50%;
  }
}